
.header-square {
   
    width: 100%;
    height: 315px;
    position: relative;
    justify-content: center;
}

.header-navbar {  
    width: 100%;
    height: 70px;
    bottom: 0;
    justify-content: center;    
    align-items: center;
    display: flex;
    background-color: #364c7e;
    
}


.header-logo {
    background-image: url(../assets/images/BannerSonidos.png);
    background-size:1000px;
    background-position: center;
    position:absolute;
    background-size: cover;
    width:550px;
    height: 300px;
    left: 685px;
}

.header-navbar-buttons {
    width: auto;
    height: 70px;
    font-size: 20px;
    background-color: #364c7e;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: 0;
    padding: 10px;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 4  00;
}

.header-navbar-buttons:hover {
    background-color: #2f416d;
}

.footer {
    background-color:#0a0909;
    color: white;
    padding: 20px;
    bottom: 0;
    width: 100%;
    height: 300px;
}

.player-desing{
    background-color: #ffffff;
    height: 40px;
    border-radius: 3px;
}

table {
    background-color: #F5F6F8;
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 100px;
    font-family: 'Open Sans', 'sans-serif';
    border-collapse: collapse;

}
th {
    height: 50px;
 
}
tr {
    
    border: 1px solid rgba(128, 128, 128, 0.144);
    height: 50px;
}

td {
    
    color:rgb(34, 58, 58);
    height: 30px;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 220px;
    background-color: #F5F6F8;
    border: 0;


    
}


.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.closeModal-button {
    position: relative;
    margin-left: 70%;
    width: 60px;
    height: 30px;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 600;
    font-size: 15px;
    background-color: #364c7e;
    border: 0;
    cursor: pointer;
    color: #ffffff;

}

.closeModal-button:hover {
    background-color: #FFC211;
}



.h1-modal{
    font-family: 'Open Sans',  'sans-serif';
    margin-left: 20px;
    font-weight:bold;
}
.h1-modal {
    font-size: 25px;
    color: #364c7e;
}


.h3-modal {
    font-family: 'Open Sans',  'sans-serif';
    font-size: 16px;
    margin-top: 30px;
    margin-left: 20px;
    font-weight: 300;
}

.buttonsYN-modal {
    position: relative;
    left: 400px;
    top: 20px;

}

.buttonClose-modal {
    position: relative;
    left: 85px;
    top: 20px;

}

.buttonY, .buttonN {
    width: 60px;
    height: 30px;
    font-family: 'Open Sans',  'sans-serif';
    font-size: 14px;
    font-weight: 600;
    margin-left: 30px;
    color: #ffffff;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}


.buttonY {
    background-color: rgba(1,87,155,1);
}

.buttonN {
    background-color: rgb(196, 5, 5);
}


.close-button {
    position: relative;
    width: 100px;
    height: 40px;
    font-family: 'Open Sans',  'sans-serif';
    font-size: 14px;
    font-weight: bold;

    background-color: rgba(1,87,155,1);
    color: #d8d8d8;
    border: 2px solid rgba(133, 133, 133, 0.233);
    border-radius: 3px;
    top: 260px;
    left: 970px;
}

.squarePreviewDetails {
    width: 525px;
    height: 360px;
    background-size:cover;
    background-position: center;
    margin-left: 20px;
    background-image: url(../assets/images/preview-icon.jpeg);
    border-color: black;
}


.credits {
    position: relative;
    top:90%;
    left:1%;
    font-size: 13px;
}

.author {
    color: #B0A705;
    letter-spacing: 1px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.author:hover {
    animation: changeColor 3s infinite;
}

@keyframes changeColor {
    0% { color: #ff7f50; } /* Color inicial */
    25% { color: #4caf50; } /* Primer color de cambio */
    50% { color: #2196f3; } /* Segundo color de cambio */
    75% { color: #e91e63; } /* Tercer color de cambio */
    100% { color: #ff7f50; } /* Vuelve al color inicial */
}
